<!doctype html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="authors" content="Khorkov Dmitriy, Fedor Guliaev, Elizaveta Guliaeva" />
    <meta name="description" content="Benefit Bistro" />
    <meta name="keywords" content="Benefit Bistro" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/images/favicon.png') }}">

    <!-- Links -->
    <link rel="stylesheet" href="{{ url_for('static', path='/css/base.css') }}">

    {% block head %}

    {% endblock %}

    <!--  Other  -->
    <title> {{ title if title else 'Benefit Bistro' }} </title>
</head>
<body>
{% block body %}

{% endblock %}
</body>
</html>
